<div id="control-panel">
    <div>
        <p class="title">EQUIPMENT</p>
    </div>
    
    <div>
        <ng-container *ngFor="let equipmentType of model.bodySlotModelTypes">
            <p class="select-item"
                (click)="toggleEquippable(equipmentType.name)" 
                [ngClass]="{'selected': isEquipmentTypeSelected(equipmentType.name)}"
            >{{equipmentType.name}}</p>
        </ng-container>
    </div>

    <div class="separator"></div>

    <div>
        <p class="title">ANIMATION</p>
    </div>
    
    <div>
        <ng-container *ngFor="let animation of model.animations">
            <p class="select-item" 
                (click)="selectAnimation(animation.name)" 
                [ngClass]="{'selected': isAnimationSelected(animation.name)}"
            >{{animation.name}}</p>
        </ng-container>
    </div>

    <div>
        <div class="checkbox">
            <input #checkboxLoop [(ngModel)]="model.loop" type="checkbox" id="loop" name="loop"/>
            <label for="loop">Loop animation</label>
        </div>
    
        <div class="checkbox">
            <input #checkboxLoop [(ngModel)]="model.blend" type="checkbox" id="blend" name="blend"/>
            <label for="blend">Blend animations</label>
        </div>
    </div>
</div>